[build]
  command = "git config --global user.email 'netlify@deploy.bot' && git config >
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
